@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #000;
    background-color: #fff;
}

.primary-text {
    color: #e0752b;
}

.second-text {
    color: #ff5544;
}

.container {
    padding: 0 128px;
}

#site-navigation ul li:hover a {
    color: #e0752b;
}

.active {
    color: #e0752b;
    font-weight: bold;
}

.image-main {
    height: 500px;
    background: linear-gradient(to bottom, #e09946, #feeabf);
}
